<div class="header">
  <i class="fa-solid fa-arrow-left fa-xl"></i>
  <% if locals[:action] == "Log In" %>
    <h3> <%= locals[:action].delete(" ").upcase %> </h3>
    <%= link_to locals[:action], user_session_path(), class: "button post-button" %>
  <% else %>
    <h3> REGISTER </h3>
    <%= link_to "Next", new_user_registration_path(), class: "button post-button" %>
  <% end %>
</div>