<div class="splash">
  <h1>Budget App</h1>
  <div class="splash-actions">
    <div class="navigate-login">
        <%= link_to "LOG IN", new_user_session_path(), class: "splash-button" %>
    </div>
    <div class="navigate-signup">
        <%= link_to "SIGN UP", new_user_registration_path(), class: "splash-button" %>
    </div>
  </div>
  </div>
  <div class="author-info">
  <p>copyright © <a href="https://github.com/Yazino12">Yazino12</a></p>
  </div>
