/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --main-font: 'Montserrat', sans-serif;
  --logo-font: 'Lobster', 'cursive';
  --main-bg-color: #f5f6f8;
  --main-color: #3778c2;
  --secondary-color: #5fb523;
  --text-main-color: #434b54;
  --text-secondry-color: #bfc0c0;
  --header-color: white;
}

body {
  font-family: var(--main-font);
  margin: 0;
  background-color: var(--main-bg-color);
  color: var(--text-main-color);
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--header-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  color: var(--header-color);
  padding: 1.5em;
}

.header.home {
  flex-direction: column;
  gap: 1em;
}

.header .upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header .lower {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  width: 100%;
}

.header .lower .current span {
  font-weight: bold;
  margin-left: 2.5em;
}

.header .lower .away {
  color: var(--text-secondry-color);
}

.splash {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1em;
  min-height: 760px;
  background:
    linear-gradient(
      177deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(55, 120, 194, 1) 50%,
      rgba(0, 212, 255, 1) 100%
    );
}

.splash h1 {
  font-family: var(--logo-font);
  text-align: center;
  color: var(--header-color);
}

.splash .splash-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.splash .navigate-login,
.splash .navigate-signup {
  text-align: center;
}

.splash-button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #0366d6;
  background-color: #fafbfc;
  border-color: #1b1f2326;
  box-shadow:
    rgba(27, 31, 35, 0.04) 0 1px 0 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 0 inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
  width: 80%;
}

.splash-button:hover {
  color: #fff;
  background-color: #0366d6;
  border-color: #1b1f2326;
  box-shadow:
    rgba(27, 31, 35, 0.1) 0 1px 0 0,
    rgba(255, 255, 255, 0.03) 0 1px 0 0 inset;
  transition-duration: 0.1s;
}

.author-info {
  text-align: center;
  padding: 1em;
  background-color: #04cdfa;
  color: var(--header-color);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: white;
  text-align: center;
}

form input {
  width: 100%;
  border: none;
  padding: 1em;
}

form .submit-button {
  width: auto;
  background-color: transparent;
  padding: 0;
  color: var(--header-color);
}

hr,
form hr {
  border-bottom: none;
  width: 90%;
}

.forgot-password {
  padding: 1em;
  text-align: center;
}

.forgot-password a {
  color: var(--text-secondry-color);
}

.forget-password-actions {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 1em;
}

.forget-password-actions a {
  color: var(--main-color);
}

.groups {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0.5em;
}

.groups .group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-color);
  padding: 0.5em;
  color: var(--text-secondry-color);
}

.groups .group .left {
  display: flex;
  gap: 1em;
}

.groups .group .middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}

.groups .group .middle span,
.entity .upper .entity-span {
  font-size: small;
}

.total-transactions .bold,
.groups .group .bold,
.entity .payment .bold {
  color: var(--text-main-color);
  font-weight: bold;
}

.kick-user,
.new-group-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  padding: 0 16px;
  background-color: var(--main-color);
  border-radius: 0.25rem;
  border: 1px solid #0070d2;
  color: #fff;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  width: 20%;
  align-self: flex-end;
}

.kick-user:hover {
  background-color: #005fb2;
  border-color: #005fb2;
}

.new-group-button {
  width: 200px;
  margin: auto;
}

.entities-wrapper {
  padding: 1em;
}

.entities {
  display: flex;
  flex-direction: column;
  background-color: var(--header-color);
}

.total-transactions {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin: 1em 1em 0 1em;
  background-color: var(--header-color);
}

.entities .group-entity {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em;
}

.entities .entity {
  display: flex;
  flex-direction: column;
}

.entities .entity .upper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
}

.entities .entity .upper div {
  display: flex;
  gap: 0.5em;
  color: var(--text-secondry-color);
}

.entities .entity .payment {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.entities .add-transaction {
  display: flex;
  justify-content: center;
  padding: 1em;
}
