/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --main-font: 'Montserrat', sans-serif;
  --logo-font: 'Lobster', 'cursive';
  --main-bg-color: #f5f6f8;
  --main-color: #3778c2;
  --secondary-color: #5fb523;
  --text-main-color: #434b54;
  --text-secondry-color: #bfc0c0;
  --header-color: white;
}

body {
  font-family: var(--main-font);
  margin: 0;
  background-color: var(--main-bg-color);
  color: var(--text-main-color);
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--header-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  color: var(--header-color);
  padding: 1.5em;
}

.splash {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1em;
  min-height: 812px;
  background:
    linear-gradient(
      177deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(55, 120, 194, 1) 50%,
      rgba(0, 212, 255, 1) 100%
    );
}

.splash h1 {
  font-family: var(--logo-font);
  text-align: center;
  color: var(--header-color);
}

.splash .splash-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.splash .navigate-login,
.splash .navigate-signup {
  text-align: center;
}

.splash-button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #0366d6;
  background-color: #fafbfc;
  border-color: #1b1f2326;
  box-shadow:
    rgba(27, 31, 35, 0.04) 0 1px 0 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 0 inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
  width: 80%;
}

.splash-button:hover {
  color: #fff;
  background-color: #0366d6;
  border-color: #1b1f2326;
  box-shadow:
    rgba(27, 31, 35, 0.1) 0 1px 0 0,
    rgba(255, 255, 255, 0.03) 0 1px 0 0 inset;
  transition-duration: 0.1s;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em 0;
  background-color: white;
  text-align: center;
}

form input {
  width: 100%;
  border: none;
  padding: 1em;
}

form hr {
  border-bottom: none;
  width: 90%;
}

.forgot-password {
  padding: 1em;
  text-align: center;
}

.forgot-password a {
  color: var(--text-secondry-color);
}

.forget-password-actions {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 1em;
}

.forget-password-actions a {
  color: var(--main-color);
}
